.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
}

body {
  color: #333;
}

img {
  vertical-align: bottom;
}

.btn {
  color: #FFF;
  transition: 0.3s;
}

.btn:hover {
  color: #333;
}


header{
  background-color: #FFF;
  width: 100%;
  position: fixed;
  z-index:10;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.fa-bolt {
  display: inline-block;
  padding: 15px 0;
}

.header-btn {
  background-color: #74cfae;
  display: inline-block;
  float: right;
  padding: 14px 12px;
  font-size: 12px;
}

.tittle-inner {
  background-color: #f2f2f2;
  padding: 250px 0;
  text-align: center;
}

.tittle h2 {
  color: #74cfae;
  font-size: 90px;
font-weight: 700;
  margin-bottom: 20px;
}

.tittle h5 {
  color: #c0c0c0;
  font-size: 30px;
}

.section-message {
  background-color: #74cfae;
}

.message-inner {
  color: #FFF
}

.message {
  width: 600px;
  margin-left: 250px;
}

.message-inner h5 {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 35px;
}

.message-inner p {
  font-size: 20px;
}

.message-inner {
  padding-top: 50px;
  display: flex;
  text-align: center;
}

.contents-inner {
  padding: 60px 0 70px 0;
  text-align: center;
}

.contents-inner h5 {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 40px;
}

.picture {
  float: left;
  margin-right: 100px;
  opacity: 0.7;
  transition: 0.3s;
}

.picture:hover {
  opacity: 1;
}

.picture:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 80px;
}

.picture:last-child {
  margin-bottom: 90px;
}

.contents-box {
  display: inline-block;
}

.contents-box p {
  float: left;
  width: 530px;
  margin-right: 90px;
}

.contact {
  background-color: #74cfae;
  font-size: 12px;
  float: left;
  padding: 14px 20px;
  width: 150px;
}

.section-skills {
background-color: #4e4e4e;
}

.skills-inner {
  padding: 70px 0 100px 0;
  text-align: center;
}

.skills-inner h5,.skills-inner p {
  color: #FFF;
}

.skills-inner h5 {
  font-size: 24px;
  margin-bottom: 70px;
}

.graph {
  float: left;
  margin-right: 180px;
}

.graph:last-child {
  margin-right: 0;
}

.graph figcaption {
  color: #FFF;
  margin: 20px;
  font-size: 16px;
}

.sns {
  background-color: #f2f2f2;
}

.sns-inner{
  padding: 200px 0;
  text-align: center;
}

.sns-btn {
  display: inline-block;
  padding: 20px 0;
  width: 185px;
  transition: 0.3s;
}

.sns-btn:hover {
  background-color: #FFF;
  cursor : pointer;
}

.sns-btn i {
  color: #74cfae;
  font-size: 50px;
}

footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-inner p{
  color: #FFF;
  float: right;
}